@import '../scss/constants';

footer {
    width: 100%;
    height: 50px;
    background: $main-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    color: $secondary-color;
}